footer {
    padding: 2.55em 0em 1em 0em;
}

footer .icon {
    font-size: 2.6em;
}

ul.ftco-footer-social {
    display: inline-block;
    list-style-type: none;
}

ul.ftco-footer-social li {
    display: inline-block;
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer; 
}

ul.ftco-footer-social li:hover {
    opacity: 0.8;
}

ul.footer_menu {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
}

ul.footer_menu li { 
    display: inline-block;
    padding-right: 40px;
    font-size: 1.2em;
    cursor: pointer;
}

ul.footer_menu li:hover {
    color: $base-color;
}