$base-color: #d18049;
$secondary-color: rgb(94 155 127);;
$base-color-rgba: rgb(209, 128, 73,0.1);
$border-dark: darken($base-color, 15%); 

$border-color: rgb(209, 128, 73,0.1);
$border-radius: 1px;
$border-width: 8px;

$white: #fff;
$light: #f0efee;
$dark: #140b01;

$bg-light: #f0efee;
$bg-dark: #140b01;

$blog_item_bg: #faf7f4;